html
    head
        title= title
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")

    body.container
        p welcome to ABC system
        form(method="POST").form-group
            label(for="username") Username
            input(type="text",placeholder="username",name="username").form-control
            label(for="password") Password
            input(type="password",placeholder="password",name="password").form-control
            br
            input(type="submit",value="login").btn.btn-primary
        p
            span Don't have an account?
        p   
            span register
                a(href="/") here
